<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.thambola.fungola">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" tools:node="remove"/>


    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_scheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        >
        <meta-data
            android:name="com.startapp.sdk.APPLICATION_ID"
            android:value="@string/startapp_id" />
        <!-- <activity android:name=".TicketActivity"> -->
        <!-- <activity android:name=".MyThambolaActivity"> -->
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sign_up"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyThambolaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Account_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectOptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Update_Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View_Results"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Wallet_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoadAmount_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyGameHistoryActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SpinWinActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".Refer_Earn"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".PDFViewActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <!--
<meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        -->
        <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service
            android:name=".Notification.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver android:name=".LocalNotification.receivers.AlarmReceiver" />
        <receiver
            android:name=".LocalNotification.receivers.BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>